<nav class="navbar navbar-expand-lg justify-content-between">
    <div class="navbar" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-item nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="/catalog">Catalog</a>
            </li>
            <li>
                <a class="nav-item nav-link" href="/admin">Admin Panel</a>
            </li>
        </ul>
    </div>
    <div class="navbar ">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li>
                <a class="nav-item nav-link align-items-end" href="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>