<nav class="navbar navbar-expand-lg bg-light">
    <div class="navbar" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/brand/all">All Brand</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/model/all">All Model</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/user/all">All User</a>
            </li>
            <li>
                <a class="nav-item nav-link text-dark" href="/admin">Admin Panel</a>
            </li>
            <li>
                <a class="nav-item nav-link text-dark justify-content-end" href="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>