<!DOCTYPE html>
<html lang="en" class="h-100">
<head th:replace="fragments/head"/>
<body data-bs-theme="dark" class="d-flex flex-column h-100">
<div th:replace="fragments/admin-navbar">Navbar</div>
<main>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
      <div class="justify-content-center">
        <h1>Admin panel.</h1>
        <div><span th:text="'Dates:'"></span>
          <span th:text="${#dates.createNow()}"></span>
        </div>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>