<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body data-bs-theme="dark" class="d-flex flex-column h-100">
<div th:replace="fragments/admin-navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Brand Details</h1>
                </div>
                <div class="row rounded">
                    <div class="col-md-6">
                        <h2>Brand</h2>
                        <h4 th:text="'Name: ' + ${brandDetails.name}"></h4>
                        <div class="align-bottom mb-2">
                            <a class="btn btn-danger text-light align-bottom"
                               th:href="@{/brand/delete/{uuid}(uuid=${brandDetails.uuid})}">Delete
                                Brand</a>
                        </div>
                        <div class="align-bottom"><a class="btn btn-warning text-light align-bottom"
                                                     th:href="@{/brand/update/{uuid}(uuid=${brandDetails.uuid})}">Update
                            Brand
                        </a>
                        </div>
                        <div th:if="${brandDetails.models!=null and not #lists.isEmpty(brandDetails.models)}" class="">
                            <h2>Models</h2>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Model Name</th>
                                    <th>Category</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="model : ${brandDetails.models}">
                                    <td><a th:href="@{/model/{uuid}(uuid=${model.uuid})}" th:text="${model.name}"></a></td>
                                    <td th:text="${model.category}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${brandDetails.models != null and not #lists.isEmpty(brandDetails.models)}">
                            <p>No models available</p>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>