<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body data-bs-theme="dark" class="d-flex flex-column h-100">
<div th:replace="fragments/admin-navbar">Navbar</div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
        <div class="justify-content-center">
          <h1>Add Brand</h1>
        </div>
        <form th:action="@{/brand/add}"
              th:method="post"
              th:object="${brandModel}"
              class="m-md-auto w-50 pb-3">
          <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input th:field="*{name}"
                   th:errorclass="is-invalid"
                   type="text" class="form-control text-center" id="name" aria-describedby="nameHelp"
                   name="name" required minlength="3"/>
            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Error
              message</small>
          </div>
          <button type="submit" class="btn btn-secondary">Add Brand</button>
        </form>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>