<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>
<body data-bs-theme="dark" class="d-flex flex-column h-100">
<div th:replace="fragments/admin-navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Model Details</h1>
                </div>
                <div class="row rounded">
                    <div class="col-md-6">
                        <h2>Model</h2>
                        <h4 th:text="'Name: ' + ${modelDetails.name}"></h4>
                        <h4 th:text="'Category: ' + ${modelDetails.category}"></h4>
                        <h4 th:text="'StartYear: ' + ${modelDetails.startYear}"></h4>
                        <h4 th:text="'EndYear: ' + ${modelDetails.endYear}"></h4>
                        <h4 th:text="'Brand: ' + ${modelDetails.brandName}"></h4>
                        <div sec:authorize="hasRole('ADMIN')" class="align-bottom">
                            <a class="btn btn-danger text-light align-bottom"
                               th:href="@{/model/delete/{uuid}(uuid=${modelDetails.uuid})}">Delete
                                Model</a>
                        </div>
                        <div sec:authorize="hasRole('ADMIN')" class="align-bottom"><a class="btn btn-warning text-light align-bottom"
                                                     th:href="@{/model/update/{uuid}(uuid=${modelDetails.uuid})}">Update
                            Model
                        </a>
                        </div>
                        <h2>Offers</h2>
                        <div th:if="${modelDetails.offers!=null and not #lists.isEmpty(modelDetails.offers)}" class="">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Offer</th>
                                    <th>Price</th>
                                    <th>SellerName</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="offer : ${modelDetails.offers}">
                                    <td><a th:href="@{/offer/{uuid}(uuid=${offer.uuid})}" th:text="${offer.uuid}"></a>
                                    </td>
                                    <td th:text="${offer.price}"></td>
                                    <td th:text="${offer.sellerUsername}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${modelDetails.offers != null and not #lists.isEmpty(modelDetails.offers)}">
                            <p>No offers available</p>
                        </div>
                    </div>
                    <div class="col-md-6"><img src="/img/model.png" height="350px"></div>
                </div>
            </main>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>