<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body data-bs-theme="dark" class="d-flex flex-column h-100">
<div th:replace="fragments/admin-navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Add Brand</h1>
                </div>
                <form th:action="@{/user/add}"
                      th:method="post"
                      th:object="${userModel}"
                      class="m-md-auto w-50 pb-3">
                    <div class="mb-3">
                        <label class="form-label" for="name">Name</label>
                        <input th:field="*{username}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="name" aria-describedby="nameHelp"
                               name="name"/>
                        <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">Error
                            message</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input th:field="*{password}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="password"
                               aria-describedby="passwordHelp"
                               name="password"/>
                        <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Error
                            message</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="firstName">First Name</label>
                        <input th:field="*{firstName}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center"
                               id="firstName" aria-describedby="firstName" name="firstName"/>
                        <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger">Error
                            message</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="lastName">Last Name</label>
                        <input th:field="*{lastName}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center"
                               id="lastName" aria-describedby="lastName" name="lastName"/>
                        <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger">Error
                            message</small>
                    </div>
                    <fieldset class="mb-3">
                        <legend>Choose Role</legend>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input th:field="*{role}"
                                       th:value="USER"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input" name="role"/>
                                <span>User</span>
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input th:field="*{role}"
                                       th:value="ADMIN"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input" name="role"/>
                                <span>Admin</span>
                            </label>
                        </div>
                        <small th:if="${#fields.hasErrors('role')}" th:errors="*{role}"
                               class="text-danger">Error message</small>
                    </fieldset>
                    <button type="submit" class="btn btn-secondary">Add Brand</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>