<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body data-bs-theme="dark" class="d-flex flex-column h-100">
<div th:replace="fragments/admin-navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>User Details</h1>
                </div>
                <div class="row rounded">
                    <div class="col-md-6">
                        <h2>User</h2>
                        <h4 th:text="'Username: ' + ${userDetails.username}"></h4>
                        <h4 th:text="'Full Name: ' + ${userDetails.firstName +' '+ userDetails.lastName}"></h4>
                        <h4 th:text="'Role: ' + ${userDetails.role}"></h4>
                        <h4 th:text="'Active: ' + ${userDetails.is_active}"></h4>
                        <div class="align-bottom">
                            <a class="btn btn-danger text-light align-bottom"
                               th:href="@{/user/delete/{uuid}(uuid=${userDetails
                               .uuid})}">Delete
                                User</a>
                        </div>
                        <div class="align-bottom"><a class="btn text-light btn-warning align-bottom"
                                                     th:href="@{/user/update/{uuid}(uuid=${userDetails.uuid})}">Update
                            User
                        </a>
                        </div>
                        <div th:if="${userDetails.offers!=null and not #lists.isEmpty(userDetails.offers)}" class="">
                            <h2>Offers</h2>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Offer</th>
                                    <th>Price</th>
                                    <th>SellerName</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="offer : ${userDetails.offers}">
                                    <td><a th:href="@{/offer/{uuid}(uuid=${offer.uuid})}" th:text="${offer.uuid}"></a>
                                    </td>
                                    <td th:text="${offer.price}"></td>
                                    <td th:text="${offer.sellerUsername}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${userDetails.offers != null and not #lists.isEmpty(userDetails.offers)}">
                            <p>No offers available</p>
                        </div>
                    </div>
                    <div class="col-md-6"><img src="/img/icon.png" height="350px"></div>
                </div>
            </main>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>